@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1f1f23;
  border-radius: 3px;
}

input::placeholder {
  color: #737373;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
